{% extends 'template/base.html' %}
{% load static %}


{% block title %}
    Crear {{ block.super }}
{% endblock  %}


{% block body %}
<div  class="container mb-4 col-10 col-sm-10 col-md-8 mx-auto">
    <div class="row g-0">

        <h4 class="card-title text-center my-4 {% if prediccion == 0 %} text-danger {% else %} text-success {% endif %}< "><strong>{% if prediccion == 0 %} Muerte {% else %} Vivo {% endif %}</strong></h4>
        
        
        <div class="mt-4 mx-auto d-flex flex-row-reverse">
            <a class="btn btn-default" href="{% url 'home' %}">Vorver al Inicio</a>
            <a class="btn btn-primary mx-3" href="{% url 'create' %}">Otro paciente</a>
        </div> 

    </div>
</div>
{% endblock %}


