<footer class="text-center text-white bg-primary ">
    <!-- Grid container -->
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Twitter -->
        <a
          class="btn btn-link btn-floating btn-lg text-white m-1"
          href="https://twitter.com/arnel_glez"
          role="button"
          data-mdb-ripple-color="white"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Instagram -->
        <a
          class="btn btn-link btn-floating btn-lg text-white m-1"
          href="https://www.instagram.com/arnel.glez/"
          role="button"
          data-mdb-ripple-color="white"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a
          class="btn btn-link btn-floating btn-lg text-white m-1"
          href="https://github.com/arnelglez/"
          role="button"
          data-mdb-ripple-color="white"
          ><i class="fab fa-linkedin"></i
        ></a>
        <!-- Github -->
        <a
          class="btn btn-link btn-floating btn-lg text-white m-1"
          href="https://github.com/arnelglez"
          role="button"
          data-mdb-ripple-color="white"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center text-white p-3">
      © 2023 Copyright:
      <a class="text-reset fw-bold contact" href="mailto:arnel.glez@gmail.com">Red neuronal y Diseno: Arnel González Rodríguez</a>
    </div>
    <!-- Copyright -->
  </footer>